#paneError {
    display: table;
    height: 100%;
    width: 100%;
}

    /* Doing it like this is strictly speaking not too clean, but it allows to easily exchange the div contents. */
    #paneError > span {
        color: red;
        font-size: 6em;
        text-align: center;
        font-weight: bold;
        display: table-cell;
        vertical-align: middle;
    }

#paneIdle {
    display: table;
    height: 100%;
    width: 100%;
}

    #paneIdle > span {
        color: green;
        font-size: 6em;
        text-align: center;
        font-weight: bold;
        display: table-cell;
        vertical-align: middle;
    }

#paneOperation {
    background-color: #83C6FA;
    height: 100%;
    width: 100%;
}

    #paneOperation > table {
        height: 100%;
        width: 100%;
        font-size: 1.8em;
        text-align: center;
    }

    #paneOperation > div {
        width: 100%;
    }

        #paneOperation > div > a {
            display: table;
            margin: 0 auto;
        }

    #paneOperation * {
        margin: 0;
        text-align: center;
    }

#resources {
    width: 100%;
    text-align: center;
}

.resource button {
    font-size: 40px;
    font-weight: bold;
    margin: 20px !important;
    padding: 20px 40px;
    border: 1px solid lightgray;
    border-radius: 7px;
    background-color: greenyellow;
    cursor: pointer;
}

@media(min-width: 400px) {
    .resource {
        width: 50%;
        float: left;
    }
}

@media (min-width: 600px) {
    .resource {
        width: 33%;
    }
}

@media (min-width: 800px) {
    .resource {
        width: 25%;
    }
}

@media(min-width: 1000px) {
    #resources {
        width: 80%!important;
        margin: 0 auto!important;
    }
}

.resource button:hover {
    border: 1px solid black;
}

.fixed {
    cursor: not-allowed !important;
    background-color: red !important;
}

.dispatched {
    background-color: orange !important;
}
